
@model Person

@{ ViewData["Title"] = "Courses"; }
<partial name="navbar" />

<br />
<br />

<h4>Dina kurser:</h4>

<table class="table">
    <tr>
        <th>Kurs</th>
        <th>HP</th>
        <th>Status</th>
    </tr>

    @foreach (ProjectDB.Models.Course courses in Model.Courses)
    {
<tr>
    <td>@courses.Name</td>
    <td>@courses.HP</td>
    <td>@courses.Status</td>
    <td>
        <a href="EditCourse?edit=@courses.ID
           ">Edit</a>
    </td>
</tr>
}

    <div>
        <a asp-action="CreateCourse" class="btn btn-dark">Lägg till kurs</a>
    </div>



</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
