
@model Person

@{ ViewData["Title"] = "Mina kurser"; }
<partial name="navbar" />

<br />
<br />

<h4>Mina kurser</h4>
<br />

<table class="table">
    <tr>
        <th>Kurs</th>
        <th>HP</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (ProjectDB.Models.Course courses in Model.Courses)
    {
<tr>
    <td>@courses.Name</td>
    <td>@courses.HP</td>
    <td>@courses.Status</td>
    <td>
        <a class="text-info" href="EditCourse?edit=@courses.ID
           ">Visa</a>
    </td>
</tr>}

</table>
<div>
    <a asp-action="CreateCourse" class="btn btn-dark">Lägg till kurs</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
