@model Person

@{ ViewData["Title"] = "Graduation"; }

<partial name="navbar" />

<br />
<h2>Min examen</h2>

Examensdatum: @ViewBag.date
@ViewBag.error <br />


Dagar till examen: @ViewData["totalDays"] <br />

Antal lästa HP: @ViewBag.HP <br />


<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
