@model Person

@{ ViewData["Title"] = "Login"; }

@* <h1>Login</h1> *@

<div class="container-fluid">
    <div style="margin-top:0px;" class="row-fluid">
        <div class="offset4 span4 well">
            <form asp-action="Login" method="post" style="margin: 10% auto; width: 400px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label, span12"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="Logga in" class="btn btn-dark" />
                </div>
                <a href="Home/CreateUser">Skapa ny användare</a>

            </form>
        </div>
    </div>
</div>

@ViewBag.errormsg

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
