@model Person
<partial name="navbar" />

@{ ViewData["Title"] = "Overview"; }

<br />
<h2>Välkommen @ViewBag.user!</h2>

<br />
<br />
<h4>Dina oavklarade kurser:</h4>

<table class="table">
<tr>
    <th>Kurs</th>
    <th>HP</th>
</tr>

@foreach (ProjectDB.Models.Course personlista in Model.Failed)
{
        <tr>
            <td>@personlista.Name</td>
            <td>@personlista.HP</td>
        </tr>
}

</table>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }