@model Person
<partial name="navbar" />

@{ ViewData["Title"] = "Overview"; }

@ViewBag.user

<h1>Overview</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
